/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* RGB */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
p {
  line-height: 1.5;
}
.nav {
  display: flex;
  width: 100%;
  height: 75px;
  background-color: #260c1a;
  justify-content: space-around;
}
.nav a {
  text-decoration: none;
  color: white;
  margin-top: 30px;
  font-size: 1.6rem;
}
.hero {
  height: 100%;
  background-color: #5f4842;
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}
.hero-left {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.hero-left h1 {
  font-size: 4.2rem;
  color: silver;
  width: 70%;
}
.hero-left h2 {
  font-size: 2.2rem;
  color: silver;
  margin-top: 50px;
  width: 50%;
}
.hero-right {
  margin-top: 10px;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-right img {
  width: 60%;
  box-shadow: 5px 5px 5px gray;
}
.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-color: #af8d86;
}
.about-us h2 {
  font-size: 3.6rem;
  margin: 20px 0 20px 0;
}
.about-us .about-container {
  display: flex;
  justify-content: space-around;
}
.about-us .about-box {
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: center;
}
.about-us .about-box img {
  width: 75%;
  height: auto;
  margin-bottom: 20px;
}
.about-us .about-box h3 {
  text-align: center;
  font-size: 2.4rem;
  margin-bottom: 20px;
  color: #4b4e6d;
  font-weight: bolder;
}
.about-us .about-box p {
  font-size: 1.4rem;
  padding-bottom: 30px;
  color: #4b4e6d;
}
.menu {
  height: 40vh;
  background-color: #4b4e6d;
}
.contact-us {
  height: 40vh;
  background-color: #656256;
}
